/* Variables */
:root {
    --dark-grey: #333;
    --light-grey: #ddd;
    --lime: #0f0;
    --pink: #f6b;
    --red: #f00;
}

/* Arrangement */
body {
    text-align: center;
    vertical-align: center;
    background-color: var(--light-grey);
    color: var(--red);
}

h1 {
    font-size: 72px;
}

/* prefers-color-scheme color preference */
/* could switch dark to light depending on default colors */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-grey);
        color: var(--lime);
    }
}

/* Force light color */
body.light {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

/* Force dark color */
body.dark {
    background-color: var(--dark-grey);
    color: var(--pink);
}
